body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    margin-top: 0px;
}
h1{
    font-size: 30px;
}
.firstportion{
    text-align: center;
    color: white;
    padding: 20px;
}
.donate-now-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.portionfirst{
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: 3000px, 2000000px;
    background-position: center;
}
.portionsecond{
    text-align: center;
    padding: 30px;
}
.portion-second{
    display: flex;
    text-align: center;
    padding: 40px;
}
.half-width{
    width: 20%;
}
.sec-ondportion{
    text-align: center;
}
.donatenow{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(black, black);
}
.behumble{
    color: red;
}
.do-it{
    color: aliceblue;
}

